<div id="cookie-banner" class="cookie-banner" hidden>
  <p>
    We use strictly necessary cookies to keep you signed in and to protect this site from forged requests.
    We don't use tracking or advertising cookies. See our
    <a href="{{ url_for('legal.privacy_policy') }}">Privacy Policy</a> for details.
  </p>
  <div class="cookie-banner-actions">
    <button type="button" id="cookie-dismiss" class="cookie-dismiss">Dismiss</button>
    <button type="button" id="cookie-accept" class="cookie-accept">Got it</button>
  </div>
</div>

<script src="{{ url_for('static', filename='js/cookie-banner.js') }}"></script>
